.git/
.gitignore
.gitattributes

**/__pycache__/
**/*.py[cod]
**/*.pyo
**/.pytest_cache/
**/*.egg-info/
dist/
build/
.eggs/

.venv/
venv/
env/

.uv/

tests/

.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
coverage.xml
htmlcov/
.hypothesis/

.vscode/
*.code-workspace

.DS_Store
Thumbs.db

.github/
.dockerignore
Dockerfile
commit_message.md