### Tadween WhisperX Environment Configuration 
### Use this file to configure environment-specific settings and secrets.

## Model Hubs & Caching 
HF_HOME=/path/to/huggingface/cache
TRANSFORMERS_CACHE=/path/to/transformers/cache
PYANNOTE_CACHE=/path/to/pyannote/cache
TORCH_HOME=/path/to/torch/cache

## Offline (cached) Mode. set to 1 to prevent models from trying to download at runtime (requires models to be pre-cached)
HF_HUB_OFFLINE=1


## Hugging Face token for gated models (e.g., pyannote diarization). You can skip this using cached model by downloading it once, set the `HF_HOME` to the correct path, use enter offline mode
HF_TOKEN=your_secret_token

## Override secrets and env file path
TADWEENX_ENV_FILE=.env
TADWEENX_SECRETS_DIR=/run/secrets

LIGHTNING_WHISPER_LOG_LEVEL=ERROR
PYANNOTE_METRICS_ENABLED=0